# Django framework
django==3.2
# Gunicorn server (For production use)
gunicorn==20.1.0
# Postgres driver
psycopg2-binary==2.8.6
# Python imaging library (For image support in django models)
Pillow==8.2.0
# Djanfo REST framework & its related functionality
djangorestframework==3.12.4
markdown==3.3.4
django-filter==2.4.0
# CORS: Cross-Origin Resource Sharing (For react integration)
django-cors-headers==3.7.0
# DRF authentication
djangorestframework-simplejwt==4.6.0
# Python YAML (YAML file support for django loaddata & dumpdata)
PyYAML==5.4.1
# Date
python-dateutil==2.8.1
# Schema & doc for API
uritemplate==3.0.1
coreapi==2.3.3
